.App{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  color: white;
}

.App video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay{
  background:  rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
}

.page__content{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.App h1{
  font-size:  2rem;
  color: white;
  margin-block-end: 1rem;
}